body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #6f00ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00b377;
}

#results {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
